body {
    margin: 0px;
    background-color: #87CEEB;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: white;
    border: 1px black solid;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 7px 0px;
    display: inline-block;
}

nav li {
    display: inline;
    margin: 0px 15px;
}

nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

main {
    background-color: white;
    border: 1px black solid;
    border-radius: 10px;
    margin: 3%;
    margin-top: 14%;
    padding: 10px;
}

footer {
    background-color: white;
    border: 1px black solid;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    padding: 10px;
}

h1,h2{
    text-align: center;
}

img {
    display: block;
    height: auto;
    width: 50%;
    margin: 0px auto;
    border-radius: 10px;
    padding: 5px;
}

label {
    display: block;
    font-weight: 550;
}

input{
    border: none;
    border-bottom: 2px solid black;
    width: 20%;
    outline: none;
    margin-bottom: 20px;
}

fieldset label{
    display: inline;
}
fieldset input{
    width: 10px;
}
fieldset {
    border: 2px solid black;
    border-radius: 6px;
    width: 50%;
    margin-bottom: 20px;
}


table {
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}

th, td {
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}
th {
    background-color: lightgray;
}

textarea {
    margin-bottom: 20px;
}

.logo {
    width: 50px;
    display: inline-block;
    animation: giroCompleto 3s ease-in-out;
}

@keyframes giroCompleto {
    0% { transform: rotateY(0deg); }
    100% { transform: rotateY(360deg); }
}

article {
    max-height: 300px;
    overflow-y: auto;
    font-weight: 500;
}

.sticky {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 5px;
    border-bottom: 1px solid black;
}

article img {
    display: block;
    max-width: 40%;
    height: auto;
    margin: 10px auto 0;
    border-radius: 10px;
}

.flecha-arriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 24px;
    text-decoration: none;
    z-index: 1000;
}

.flecha-arriba:hover {
    background-color: darkgray;
}
